#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <1 15 29>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&lt 4 TAB       &kp Q           &kp W  &kp E         &kp R         &kp T                                 &trans          &kp Y                    &kp U        &kp I          &kp O    &kp P                &lt 4 GRAVE
&kp LCTRL       &kp A           &kp S  &kp D         &kp F         &kp G                         &trans  &trans  &trans  &kp H                    &kp J        &kp K          &kp L    &lt 3 SEMICOLON      &kp SQT
&kp LEFT_SHIFT  &mt Z LEFT_ALT  &kp X  &kp C         &kp V         &kp B               &trans            &trans          &kp N                    &kp M        &kp COMMA      &kp DOT  &mt RIGHT_ALT SLASH  &mt RIGHT_SHIFT ESCAPE
                                       &kp LEFT_ALT  &lt 1 DELETE  &mt LEFT_GUI ENTER                                    &mt RIGHT_GUI BACKSPACE  &lt 2 SPACE  &kp RIGHT_ALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        layer_1 {
            display-name = "NUMBER";
            bindings = <
&kp GRAVE  &kp EXCL       &kp AT         &kp HASH  &kp DLLR        &kp PERCENT                    &trans          &kp N7  &kp N8  &kp N9      &kp MINUS  &kp FSLH   &kp DEL
&kp PIPE   &kp CARET      &kp AMPERSAND  &kp STAR  &kp LPAR        &kp RPAR               &trans  &trans  &trans  &kp N4  &kp N5  &kp N6      &kp PLUS   &kp STAR   &kp BSPC
&trans     &kp BACKSLASH  &kp LBKT       &kp RBKT  &kp LEFT_BRACE  &kp RBRC     &trans            &trans          &kp N1  &kp N2  &kp N3      &kp DOT    &kp EQUAL  &kp ENTER
                                         &trans    &trans          &trans                                         &trans  &kp N0  &kp PERIOD
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        layer_2 {
            display-name = "NAV";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans          &kp HOME        &kp PAGE_DOWN  &kp PAGE_UP  &kp END    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &kp LEFT_ARROW  &kp DOWN       &kp UP       &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans            &trans          &trans          &trans         &trans       &trans     &trans  &trans
                        &trans  &trans  &trans                                    &trans          &trans         &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        layer_3 {
            bindings = <
&trans  &trans         &kp CARET       &trans            &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS                    &trans          &kp CARET  &kp AMPERSAND  &kp ASTERISK  &kp PIPE    &trans  &trans
&trans  &kp LESS_THAN  &kp EQUAL       &kp GREATER_THAN  &kp LEFT_BRACKET      &kp RIGHT_BRACKET                &trans  &trans  &trans  &kp CARET  &kp ASTRK      &kp POUND     &kp DOLLAR  &trans  &trans
&trans  &trans         &kp UNDERSCORE  &trans            &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans            &trans          &kp MINUS  &kp PLUS       &kp ASTERISK  &kp SLASH   &trans  &trans
                                       &trans            &trans                &trans                                                   &trans     &trans         &trans
            >;

            label = "VIM";
        };

        layer_4 {
            display-name = "BRD";
            bindings = <
&bt BT_CLR      &bt BT_SEL 0      &bt BT_SEL 1       &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4                       &trans          &trans           &trans           &trans           &trans           &trans           &trans
&bt BT_CLR_ALL  &rgb_ug RGB_ON    &rgb_ug RGB_OFF    &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &rgb_ug RGB_EFR            &trans  &trans  &trans  &rgb_ug RGB_EFF  &rgb_ug RGB_SAD  &rgb_ug RGB_SAI  &rgb_ug RGB_SAD  &rgb_ug RGB_HUI  &trans
&bootloader     &ext_power EP_ON  &ext_power EP_OFF  &trans           &trans           &sys_reset       &trans            &trans          &sys_reset       &trans           &trans           &out OUT_BLE     &out OUT_USB     &bootloader
                                                     &trans           &trans           &trans                                             &trans           &trans           &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };
    };
};
